$main-text-color: #11011E;
$secondary-text-color: #e4e9e8;
$secondary-text-hover-color: #ffffff;
$main-background-color: #598AA0;
$secondary-background-color: #E5F6FD;
$card-background-color: #ffffff;
$card-secondary-background-color: #E1E3E4;
$card-hover-background-color: #D7EAF3;
$main-btn-color: #598AA0;
$main-btn-hover-color: #2F7190;

$main-title-font-size: 34px;
$secondary-title-font-size: 24px;
$main-text-font-size: 24px;
$secondary-text-font-size: 17px;
$small-text-font-size: 12px;

$radi-btn: 4px;
$radi-label: 6px;
$radi-box: 16px;

$box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 2px 0px,
rgba(60, 64, 67, 0.15) 1px 1px 3px 1px;

$transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-border-image: border-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-outline: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);