.tasks-page {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.tasks-container{
    display: grid;
    grid-template-rows: auto auto 1fr;
    min-height: 100%;
    grid-template-areas:
        "project-title"
        "search"
        "board"
}

.project-title-wrap {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.project-title {
    grid-area: project-title;
    color: $main-text-color;
}

.add-task-btn {
    @extend %main-btn;
    justify-content: space-between;
}

.task-page-link {
    @extend %secondary-btn;
    border: $secondary-btn-border;
    font-size: $main-text-font-size;
    color: $main-text-color;
    padding: 20px;
    width: auto;
    margin: auto;
}
