.modal-files{
    @extend %modal;
    gap: 20px;
    align-items: center;
    width: 570px;
}

.modal-files-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.modal-files-item:first-child{
    width: 100%;
    & img {
        width: 100%;
        object-fit: cover;
    }
}
.modal-files-item:not(:first-child){
    width: 70px;
    height: 100px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}