.search-wrap {
    grid-area: search;
    display: flex;
    gap: $small-gap;
    margin: 0 auto;
    margin-bottom: 20px;
}

.task-search {
    padding: 8px;
    border-radius: $radi-btn;
    outline: none;
    border: none;
    width: 250px;
    color: $main-text-color;
}

.search-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}