.subtask-card {
    @extend %card;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $medium-gap;
    margin: 0 auto;
    padding: 10px;
    background-color: $card-secondary-background-color;
    font-size: $small-text-font-size;
    overflow: hidden;
}

.subtask-done-status{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $small-gap;

    & .done-text {
        width: 80px;
        text-align: start;
        color: $main-text-color;
    }
}

.subtask-done-check {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: $radi-btn;
    outline: none;
    border: $secondary-btn-border;
    cursor: pointer;
}

.subtask-confirm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: $confirm-btn-color;
    color: $secondary-text-color;
    outline: none;
    border-radius: $radi-btn;
    border: none;
    cursor: pointer;
    transition: $transition-background-color;

    &:hover {
        background-color: $confirm-btn-hover-color;
    }
}