.task-dates-wrap {
    display: flex;
    flex-wrap: wrap;
    align-self: normal;
    gap: $medium-gap;
}

.task-card-date {
    border-radius: $radi-label;
    width: 90px;
    padding: 4px;
    font-size: $small-text-font-size;
    border: $secondary-btn-border;
    color: $main-text-color;
}