.task-card{
    @extend %card;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 0 auto;
    width: 95%;
    padding: 10px;
    font-size: $secondary-text-font-size;
    transition: $transition-background-color;

    &:hover{
        background-color: $card-hover-background-color;
    }
}

.task-card-content {
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    grid-template-areas:
        "task-title-wrap"
        "task-card-text"
        "task-label-wrap";
}
.task-title-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-card-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    font-size: $small-text-font-size;
    border: 1px solid $main-btn-color;
    color: $main-text-color;
    font-weight: 600;
}
.task-card-text {
    text-align: left;
}
.task-card-section {
    position: relative;
    width: 100%;
    min-height: 39px;
    background-color: $secondary-background-color;
    border-radius: $radi-label;
    border: 1px solid $main-background-color;
    padding: 15px 33px 33px 15px;
}

.section-icon {
    position: absolute;
    top: 2px;
    left: 2px;
}
.section-btn {
    @extend %secondary-btn;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;

    &::after {
            content: 'add subtask';
            position: absolute;
            top: 120%;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid $main-background-color;
            background-color: $main-btn-color;
            color: $secondary-text-color;
            border-radius: $radi-btn;
            width: 140px;
            padding: 5px;
            z-index: 2;
            opacity: 0
        }
    &:hover::after{
        opacity: 1;
    } 
}
.section-text {
    font-size: $small-text-font-size;
    color: gray;
    text-align: start;
    margin-left: 10px;
}