.task-card{
    @extend %card;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin: 0 auto;
    width: 95%;
    padding: 10px;
    font-size: $secondary-text-font-size;
    overflow: hidden;
    transition: $transition-background-color;

    &:hover{
        background-color: $card-hover-background-color;
    }
}

.task-card-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    grid-template-areas:
        "task-title-wrap"
        "task-card-text"
        "task-label-wrap";
}
.task-title-wrap{
    width: 100%;
    display: flex;
    gap: 10px;;
}

.task-card-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: $small-text-font-size;
    border: 1px solid $main-btn-color;
    color: $main-text-color;
    font-weight: 600;
}
.task-card-text {
    text-align: left;
}

